workflows/leadgen-overpass.json
{
  "name": "leadgen-overpass",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-generation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        64
      ],
      "id": "dfdaab5e-cddd-4281-8cbc-a31950a9e001",
      "name": "Webhook",
      "webhookId": "6880f34f-511f-4a39-bfeb-af65fb0addbc"
    },
    {
      "parameters": {
        "jsCode": "   const body = $json.body ?? $json;\n   const city = (body.city || \"\").toString().trim();\n   const category = (body.category || \"\").toString().trim();\n   const limit = Math.max(1, Math.min(parseInt(body.limit ?? '20', 10) || 20, 100));\n   const offset = Math.max(0, parseInt(body.offset ?? '0', 10) || 0);\n\n   if (!city || !category) {\n     return [{ json: { _error: true, status: 400, message: \"city and category are required\" } }];\n   }\n\n   return [{ json: { city, category, limit, offset } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        64
      ],
      "id": "e75a7c28-339d-4e56-b6d6-a53cb3a25d3a",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88773036-26b1-48c1-8bb7-b0bfd9c01989",
              "leftValue": "=json._error",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        64
      ],
      "id": "8da70096-22f8-47c3-b7c8-5ac68df06121",
      "name": "Validate"
    },
    {
      "parameters": {
        "jsCode": "// Minimal tag map – extend as needed\nconst category = $json.category.toLowerCase();\nconst city = $json.city;\nconst limit = $json.limit;\nconst offset = $json.offset;\n\nconst tagMap = {\n  coffee: [\"amenity=cafe\", \"amenity=coffee_shop\"],\n  restaurant: [\"amenity=restaurant\"],\n  bar: [\"amenity=bar\", \"amenity=pub\"],\n  hair: [\"shop=hairdresser\"],\n  pharmacy: [\"amenity=pharmacy\"],\n};\n\nconst tags = tagMap[category] ?? [\"amenity=restaurant\"]; // default fallback\n\n// Overpass query: broadened admin level range and case-insensitive city match\nconst filters = tags\n  .map(t => `nwr[${t}](area.searchArea)`)\n  .join(\";\\n\") + \";\";\n\nconst ql = `[out:json][timeout:60];\narea[\"name\"~\"${city}\", i][\"boundary\"=\"administrative\"][\"admin_level\"~\"4|5|6|8\"]->.searchArea;\n(\n${filters}\n);\nout center ${limit};`;\n\nreturn [{ json: { ql, limit, offset, city, category } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        160
      ],
      "id": "e39f6ab1-48b8-4224-8fef-ce8b608abfa6",
      "name": "Build Overpass Query"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://z.overpass-api.de/api/interpreter",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.ql }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        160
      ],
      "id": "5eb713b7-cbf1-4ba5-8f90-c9b5753ada38",
      "name": "Overpass HTTP",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const results = $json.elements || [];\n// Get category and city from Build Overpass Query node\nconst prevData = $('Build Overpass Query').item.json || {};\nconst category = prevData.category || null;\nconst city = prevData.city || null;\n\nconst items = [];\nfor (const r of results) {\n  const lat = r.lat ?? r.center?.lat ?? null;\n  const lon = r.lon ?? r.center?.lon ?? null;\n  const tags = r.tags ?? {};\n  items.push({\n    id: r.id,\n    name: tags.name ?? null,\n    category: category,\n    address: tags[\"addr:full\"] ?? null,\n    street: tags[\"addr:street\"] ?? null,\n    housenumber: tags[\"addr:housenumber\"] ?? null,\n    city: tags[\"addr:city\"] ?? city,\n    website: tags.website ?? null,\n    phone: tags.phone ?? null,\n    lat, lon,\n    source: \"osm-overpass\"\n  });\n}\n// Deduplicate by id\nconst seen = new Set();\nconst unique = [];\nfor (const x of items) {\n  if (!seen.has(x.id)) { seen.add(x.id); unique.push(x); }\n}\nreturn unique.map(x => ({ json: x }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        160
      ],
      "id": "bbae9c49-6db6-4486-9973-6188950353e9",
      "name": "Transform & Dedupe"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json);\n// Get limit and offset from Build Overpass Query node\nconst prevData = $('Build Overpass Query').item.json || {};\nconst limit = prevData.limit || 20;\nconst offset = prevData.offset || 0;\nconst page = all.slice(offset, offset + limit);\nreturn page.map(x => ({ json: x }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        160
      ],
      "id": "2b4f041b-31e9-433a-89ac-87852e2cba76",
      "name": "Slice Page"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.message || \"Invalid input\" } }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -336,
        -32
      ],
      "id": "ecf1d9f6-f21f-45b4-9aa1-0e099b69cbd7",
      "name": "Respond Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, total: $input.all().length, items: $input.all().map(item => item.json) } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        784,
        160
      ],
      "id": "c33a049c-e73f-4ee3-b854-93bdb0c0ed4e",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NyG7du6xNWPaeXmQIYzZibVuzBPCkCXY3RgGCRmgHyY",
          "mode": "list",
          "cachedResultName": "lead_gen_dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NyG7du6xNWPaeXmQIYzZibVuzBPCkCXY3RgGCRmgHyY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NyG7du6xNWPaeXmQIYzZibVuzBPCkCXY3RgGCRmgHyY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{$json.id}}",
            "Name": "={{$json.name}}",
            "Category": "={{$json.category}}",
            "City": "={{$json.city}}",
            "Street": "={{$json.street}}",
            "House Number": "={{$json.housenumber}}",
            "Address": "={{$json.address}}",
            "Phone": "={{$json.phone ? \"'\" + $json.phone : \"\"}}",
            "Website": "={{$json.website}}",
            "Lat": "={{$json.lat}}",
            "Lon": "={{$json.lon}}",
            "Source": "={{$json.source}}",
            "Fetched at": "={{$now.toISO()}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Street",
              "displayName": "Street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "House Number",
              "displayName": "House Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lat",
              "displayName": "Lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lon",
              "displayName": "Lon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fetched at",
              "displayName": "Fetched at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        160
      ],
      "id": "70263918-0722-4076-9364-64b1e9cc6274",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cUI8eiRmHPEG977g",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Overpass Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Overpass Query": {
      "main": [
        [
          {
            "node": "Overpass HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Overpass HTTP": {
      "main": [
        [
          {
            "node": "Transform & Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform & Dedupe": {
      "main": [
        [
          {
            "node": "Slice Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slice Page": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6ae73f2-4bc7-47ee-b2b5-87c0bd552ae3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7987ae36ac812cb53a8ae6603b276f6ef3f4b4425dff751ad34df1f186ce269c"
  },
  "id": "At1eGk2CSPu33BPc",
  "tags": []
}